# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# React
node_modules/
frontend/node_modules/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
# Private resume
backend/Vishal_Kumar_Tiwari_Resume.pdf.pdf